{% load socialaccount %}

{% if request.user.is_authenticated %}

  <p>{{current_user}}</p>
  <p>{{current_user.extra_data}}</p>
  <a href="/accounts/logout/">Logout</a>
{% else %}
  <p> No user Logged in </p>
{% endif %}
